.comp-contact{

}

.comp-contact-main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.comp-contact-main h1{
    padding-top: 50px;
    margin-bottom: 50px;
}

.comp-contact-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}