.game__navbar{
    height: 75px;
    width:95%;
    background: rgba(34, 35, 54, 0.75);
    border-radius: 10px;

    /* margin: 10px auto 0px; */
    top: 15px;
    left: 2.5%;
    position: fixed;
    padding: 0%;
}

.left li, .right li{
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
}